@import "../../style.scss";

.category{
  @include themify($themes) {
    padding: 20px 70px;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }

    .categories {
      padding-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .title {
      margin: 0px 0px 20px 0px;
      font-weight: lighter;
      text-align: center;
      color: themed("color");
    }

    .widget {
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #6D1D1D;
      color: white;
      border: 1px lightgray solid;
      align-items: center;
      display: flex;
      gap: 10px;
    }

    .inactive {
      background-color: themed("bg");
      color: themed("textColor");
    }
  }
 }